/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

header {
    background-color: #154dc5;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a span {
    margin-left: 8px;
}

#faq{
    background-color: #154dc5;
    color: #fff;
}

.title{
    margin: 0 0 50px 0;
}

.accordion {
    background-color: #154dc5;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
  }

  .accordion i{
    text-align: right;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
  }
  
  .active, .accordion:hover {
    background-color: #103fa5; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #fff;
    color: #154dc5;
    overflow: hidden;
  }

/* Esconder o texto dos links no mobile */
@media (max-width: 768px) {
    nav ul li a span {
        display: none;
    }

    nav ul li a {
        font-size: 24px; /* Aumentar o tamanho do ícone no mobile */
    }
}

main {
    padding: 20px;
    flex: 1;
    text-align: center;
}

section {
    margin: 40px 0;
}

.footer-bottom {
    background: #154dc5;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-col {
    width: 100%;
    max-width: 300px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 40%;
    bottom: -5px;
    background-color: #fff;
    height: 2px;
    width: 50px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: color 0.3s ease, padding 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding: 8px;
}

.footer-col .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.footer-col .social-links a {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.footer-col .social-links a:hover {
    background-color: #fff;
    color: #103fa5;
}

.map {
    grid-area: map;
}
.map iframe{
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Para garantir que o footer fique no fundo da página */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.form{
    grid-area: form;
    border-radius: 5px;
}

.info{
    grid-area: info;
}

.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap: 20px;
    max-width: 800px; /* Define uma largura máxima para o box */
    margin: 0 auto; /* Centraliza o box */
    width: 100%; /* Garante que o box ocupe 100% da largura até o max-width */
}

.contact h3{
    color: #000;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}


.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.inputBox input{
    color: #000;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: #154dc5;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid rgb(66, 54, 54);
    border-radius: 5px;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid rgb(66, 54, 54);
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.inputBox input[type="submit"]{
    background: #154dc5;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox::placeholder{
    color: #999;
}

/* Info*/

.info{
    background: #154dc5;
    border-radius: 5px;
}

.info h3{
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background-color: #154dc5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
}

.info .infoBox div a{
    color: #fff;
    text-decoration:none;
    font-size: 1.1em;
}

.sci{
    margin-top: 40px;
    display: flex;
    padding: 7px;
    justify-content: center;
}

.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    color: #fff;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover{
    color: #fff;
}

.center{
    text-align: center;
    justify-content: justify;
    width: 100%;
    padding: 3% 20% 5% 20%; 
}

/* Design responsive (contatos)*/

@media (max-width: 991px) {
    .box {
        grid-template-columns: 1fr; /* Alterar para uma coluna */
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "form"
            "info"
            "map";
        gap: 15px; /* Ajusta o espaçamento entre os itens */
        max-width: 90%; /* Reduz a largura máxima em dispositivos menores */
        margin: 0 auto; /* Centraliza a caixa horizontalmente */
    }

    .contact {
        padding: 20px; /* Ajusta o padding para dispositivos menores */
    }

    .inputBox {
        margin-bottom: 15px; /* Ajusta o espaçamento inferior para input boxes */
    }

    .inputBox input,
    .inputBox textarea {
        font-size: 0.9em; /* Reduz o tamanho da fonte */
        padding: 8px; /* Ajusta o padding */
    }

    .inputBox input[type="submit"] {
        font-size: 0.9em; /* Reduz o tamanho da fonte do botão de envio */
        max-width: 100%; /* Garante que o botão ocupe toda a largura disponível */
        padding: 10px; /* Ajusta o padding do botão de envio */
    }

    .info {
        padding: 15px; /* Reduz o padding da seção de informações */
    }

    .info .infoBox div span {
        font-size: 1.2em; /* Reduz o tamanho dos ícones de informações */
        min-width: 30px; /* Ajusta o tamanho mínimo dos ícones */
        height: 30px; /* Ajusta a altura dos ícones */
    }

    .sci li a {
        font-size: 1.5em; /* Reduz o tamanho dos ícones de redes sociais */
    }
}

@media (max-width: 576px) {

    .box{
        width: 100%;
        height: auto;
    }

    .inputBox {
        width: 100%; /* Garante que os inputs ocupem toda a largura disponível em dispositivos muito pequenos */
    }

    .inputBox input,
    .inputBox textarea {
        font-size: 0.8em; /* Ajuste adicional no tamanho da fonte */
        padding: 6px; /* Ajuste adicional no padding */
    }

    .inputBox input[type="submit"] {
        font-size: 0.8em; /* Reduz o tamanho da fonte do botão de envio para dispositivos muito pequenos */
        padding: 8px; /* Ajuste adicional no padding do botão de envio */
    }

    .info .infoBox div span {
        font-size: 1em; /* Reduz o tamanho dos ícones de informações para dispositivos muito pequenos */
        min-width: 25px; /* Ajuste adicional no tamanho mínimo dos ícones */
        height: 25px; /* Ajuste adicional na altura dos ícones */
    }

    .sci li a {
        font-size: 1.3em; /* Ajuste adicional no tamanho dos ícones de redes sociais */
    }
}

/*footer responsividade*/

@media (max-width: 767px) {
    .footer-col {
        max-width: 100%;
        padding: 0;
    }

    .row-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-col h4 {
        margin-bottom: 15px;
    }

    .footer-col ul li a {
        font-size: 14px;
    }

    .footer-col .social-links {
        gap: 8px;
    }

    .footer-col .social-links a {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}